.cardcta
{
    width: 100%;

    &__card
    {
        width: 100%;
        height: auto;
        border-radius: 11px;
        padding: 28px 0 40px;
        position: relative;

        @media (min-width: 1010px)
        {
            width: 50%;
            height: 255px;
            transform: skewX(-20deg);
            padding: 0;
            right: -5em;
        }
    }

    &__card-1
    {
        background-color: $color-card-orange;
        margin-top: 92px;

        @media (min-width: 1010px)
        {
            margin-top: 206px;
        }
    }

    &__card-2
    {
        background-color: $color-card-blue;
        margin-top: 68px;

        @media (min-width: 1010px)
        {
            margin-top: 137px;
        }
    }

    &__label
    {
        transform: skewX(-20deg);
        background-color: $color-tittle-blue;
        border-radius: 7.5px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8em;
        color: $color-white;
        padding: .6em .75em;
        position: absolute;
        top: -37.5px;
        right: .5em;

        @media (min-width: 1010px)
        {
            transform: skewX(0);
            font-size: 1.25em;
            padding: 0.75em 1em;
            top: -72px;
        }

        &-1
        {
            @media (min-width: 1010px)
            {
                right: 2em;
            }
        }

        &-2
        {
            @media (min-width: 1010px)
            {
                left: 4em;
                right: 47.5vw;
            }
        }
    }

    &__adjustment1
    {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: skewX(20deg);
    }

    &__plusL
    {
        width: 1.25em;
        margin: 0 .6em ;

        @media (min-width: 1010px)
        {
            width: 1.5em;
        }
    }

    &__textL
    {
        font-size: 1em;
    }

    &__adjustment
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (min-width: 1010px)
        {
            transform: skewX(20deg);
            flex-direction: row;
        }
    }

    &__adjustment2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (min-width: 1010px)
        {
            height: 255px;
        }
    }

    &__tittle
    {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 1010px) 
        {
            position: absolute;
            left: 10em;
        }
    }

    &__icon
    {
        width: 1.5em;
        margin-right: .5em;

        @media (min-width: 1010px) 
        {
            width: 3em;
        }
    }

    &__text
    {
        text-transform: uppercase;
        font-size: .9em;
        font-weight: 600;
        color: $color-textC-blue;

        @media (min-width: 1010px) 
        {
            font-size: 2em;
        }
    }

    &__plus
    {
        margin: 0 .8em;
        color: $color-textC-blue;

        @media (min-width: 1010px) 
        {
            font-size: 2.5em;
        }
    }

    &__logo
    {
        width: 60%;
        height: auto;
        margin: 20px 0 29px;

        @media (min-width: 1010px)
        {
            width: 12.5em;
            position: absolute;
            top: 35px;
        }
    }

    &__image
    {
        width: 90%;
        height: auto;
        position: relative;
        left: -2.5em;
        margin-bottom: 34px;

        @media (min-width: 1010px)
        {
            width: 20em;
            position: absolute;
        }

        &-1
        {
            @media (min-width: 1010px)
            {
                position: absolute;
                left: -12em;
            }
        }

        &-2
        {
            @media (min-width: 1010px)
            {
                width: 25em;
                left: 35vw;
            }
        }
    }

    &__button
    {
        @media (min-width: 1010px)
        {
            position: absolute;
            bottom: 40px;
            width: 30%;
        }
    }
}