.faq
{
    width: 100%;
    margin: 93px auto 0;

    @media (min-width: 1010px)
    {
        margin: 140px auto 0;
    }

    &__tittle
    {
        @include tittle;
        color: $color-tittle-blue;
        text-align: left;
    }

    &__flex
    {
        @media (min-width: 1010px) 
        {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__card
    {
        width: 90%;
        margin: 40px auto 0;

        @media (min-width: 1010px) 
        {
            width: 50%;
            margin: 80px 2em 0 7em;;
        }
    }

    &__border
    {
        border-left: 3px solid $color-dark-orange;
        padding-left: 1.5em;
    }

    &__cardT
    {
        color: $color-follow-blue;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 26px;
        text-align: left;
        margin-bottom: 20px;
    }

    &__cardTxt
    {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 26px;
        text-align: left;
    }
}