.footer
{
    width: 100%;

    &__reference
    {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $color_footer_orange;
        padding: 17.5px;
    }

    &__textR
    {
        width: 100%;
        color: $color_white;
    }

    &__blue
    {
        height: 12.5px;
        background-color: $color_label_blueD;
    }

    &__main
    {
        width: 100%;
        background-color: $color_footer_blue;
    }

    &__grid
    {
        display: grid;
        grid-row: 2;
        grid-column: 2;
    }
}