.pd
{
    width: 90%;
    margin: 60px auto 0;

    @media (min-width: 1010px)
    {
        width: 80%;
        margin-top: 210px;
    }

    &__tittle
    {
        font-size: 36px;
        color: $color_tittle_blue;
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: 42px;
        margin-bottom: 51px;

        @media (min-width: 1010px)
        {
            font-size: 60px;
            line-height: 70px;
            margin-bottom: 80px;
        }
    }

    &__tittle1
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        background-color: $color_card_blue;
        padding: .4em .75em;
        transform: skewX(-20deg);
        border-top-right-radius: 7.5px;
        border-top-left-radius: 7.5px;
    }

    &__logo1
    {
        width: 5em;
        transform: skewX(20deg);
    }

    &__logo2
    {
        width: 7em;
        transform: skewX(20deg);
    }

    &__image
    {
        width: 10em;
        height: auto;
        margin: 59px 0 20px 2em;

        @media (min-width: 1010px)
        {
            margin: 70px 69px 80px 0;
            position: relative;
            left: -3em;
        }
    }

    &__text
    {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 30px;

        @media (min-width: 1010px)
        {
            
        }

        &-bold
        {
            @extend .pd__text;
            font-size: 22px;
            font-weight: 600;
        }

        &-small
        {
            @extend .pd__text;
            font-size: 16px;
        }
    }

    &__tittle2
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        background-color: $color_light_orange;
        padding: .4em .75em;
        margin-top: 60px;
        transform: skewX(-20deg);
        border-top-right-radius: 7.5px;
        border-top-left-radius: 7.5px; 
    }

    &__text-boldT
    {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 30px;
        text-align: right;
        margin: 57px 0 0;
    }
}