.productcards
{
    width: 100%;
    margin-top: 60px;

    @media (min-width: 1010px) 
    {
        margin-top: 140px; 
    }

    &__tittle
    {
        color: $color-tittle-blue;
        @include tittle;
    }

    &__card
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3em 1.5em;
        border: 1px solid $color-border-blue;
        background-color: $color-cardP-blue;
        border-radius: 25px;
        margin-top: 40px;

        @media (min-width: 1010px)
        {
            flex-direction: row;
            justify-content: flex-end;
            padding: 2.5em;
        }

        &:nth-child(2)
        {
            @media (min-width: 1010px)
            {
                margin-top: 80px;
            }
        }
    }

    &__image
    {
        position: relative;
        right: 2.5em;
        margin-bottom: 20px;

        @media (min-width: 1010px)
        {
            right: 5em;
            margin-bottom: 0;
        }

        &-1
        {
            @media (min-width: 1010px)
            {
                width: 15em;
            }
        }

        &-2
        {
            @media (min-width: 1010px)
            {
                width: 20em;
            }
        }

        &-3
        {
            @media (min-width: 1010px)
            {
                width: 25em;
            }
        }
    }

    &__content
    {
        @media (min-width: 1010px)
        {
            display: flex;   
            flex-direction: column; 
            width: 40%;
            margin: 0 7.5% 0 7.5%;
        }
    }

    &__adjustmentL
    {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    &__label
    {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        padding: .25em 1.5em;
        margin-right: .75em;
        margin-bottom: 15px;

        &-blue
        {
            color: $color-tittle-blue;
            border: 2px solid $color-tittle-blue;
            border-radius: 25px;
        }

        &-orange
        {
            color: $color-dark-orange;
            border: 2px solid $color-dark-orange;
            border-radius: 25px;
        }

        @media (min-width: 1010px)
        {
            font-size: 18px;
            font-weight: 700;
            padding: .5em 1.75em;
            margin-bottom: 23px;
        }
    }

    &__subtittle
    {
        color: $color-tittle-blue;
        font-size: 30px;
        letter-spacing: 0;
        line-height: 35px;
        margin-bottom: 10px;

        @media (min-width: 1010px)
        {
            font-size: 46px;
            line-height: 53px;
            margin-bottom: 20px;
        }
    }

    &__text
    {
        @include text;
        margin-bottom: 32px;

        @media (min-width: 1010px)
        {
            margin-bottom: 40px;
        }
    }

    &__button
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 85%;
        background-color: $color-dark-orange;
        padding: 1em;
        border-radius: 55px;
        color: $color_white;
        font-size: 20px;
        text-transform: uppercase;

        @media (min-width: 1010px)
        {
            margin: 0;
            width: 60%;
            padding: 1em;
            font-size: 22px;
        }
    }

    &__icon
    {
        display: inline-block;
        width: 1.5em;
        margin-right: 1em;
    }
}