.pd
{
    width: 100%;
    margin: 60px auto 0;

    @media (min-width: 1010px)
    {
        margin: 210px auto 0;
    }

    &__tittle
    {
        @include tittle;
        color: $color-tittle-blue;
        margin-bottom: 51px;

        @media (min-width: 1010px)
        {
            margin-bottom: 80px;
        }
    }

    &__subtittle
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: .4em .75em;
        transform: skewX(-20deg);
        border-top-right-radius: 7.5px;
        border-top-left-radius: 7.5px;

        @media (min-width: 1010px)
        {
            padding: 1em .75em;
        }
    }

    &__subtittle1
    {
        background-color: $color-card-blue;
    }

    &__subtittle2
    {
        background-color: $color-light-orange;
        margin-top: 60px;
    }

    &__logo1
    {
        width: 5em;
        transform: skewX(20deg);

        @media (min-width: 1010px)
        {
            width: 7.5em;
        }
    }

    &__logo2
    {
        width: 7em;
        transform: skewX(20deg);

        @media (min-width: 1010px)
        {
            width: 10em;
        }
    }

    &__flex
    {
        @media (min-width: 1010px)
        {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            margin: 70px 0 80px;
        }
    }

    &__adjustment
    {
        width: 100%;
        display: flex;
        justify-content: center;

        @media (min-width: 1010px)
        {
            width: 20%;
        }
    }

    &__image
    {
        width: 10em;
        height: auto;
        margin: 40px 0 20px;

        @media (min-width: 1010px)
        {
            margin: 0;
        }
            
        &-1,
        {
            width: 15em;
            margin: 40px 0 20px;
            position: relative;
            right: 2em;

            @media (min-width: 1010px)
            {
                margin: 0;
                right: 4em;
            }
        }
    }

    &__text
    {
        @include text;

        &-bold
        {
            @include text-bold;
        }

        &-boldT
        {
            @media (min-width: 1010px)
            {
                display: inline-block;
                width: 50%;
            }
        }

        &-small
        {
            @include text-small;

            @media (min-width: 1010px)
            {
               
            }
        }
    }

    &__adjustment1
    {
        @media (min-width: 1010px)
        {
            width: 80%;
        }
    }

    &__adjustment2
    {
        text-align: right;
        margin: 57px 0 0;

        @media (min-width: 1010px)
        {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin: 70px 0 0;
            position: relative;
            right: 1em;
        }
    }
}