.stepcards
{
    width: 100%;
    margin: 60px 0 0;

    @media (min-width: 1010px)
    {
        margin: 140px 0 0;
    }

    &__tittle
    {
        width: 100%;
        font-size: 36px;
        color: $color-tittle-blue;
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: 42px;
        padding: 0 5em 0 4vw;

        @media (min-width: 1010px)
        {
            font-size: 60px;
            line-height: 70px;
            padding: 0 5em 0 2.25em;
        }
    }

    &__adjustment
    {
        @media (min-width: 1010px)
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            margin: auto;
        }
    }

    &__card
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40px 24px 62px 7.5vw;
        position: relative;

        &::after
        {
            content: "";
            display: inline-block;
            width: 50px;
            height: 50px;
            border-bottom: 7.5px solid $color-medium-orange;
            border-right: 7.5px solid $color-medium-orange;
            transform: rotate(45deg);
            position: absolute;
            bottom: -20px;

            @media (min-width: 1010px)
            {
                display: none;
            }
        }

        &:last-child
        {
            &::after
            {
                content: "";
                display: none;
            }
        }

        @media (min-width: 1010px)
        {
            width: 30%;
            padding: 0;
        }
    }

    &__textN
    {
        display: inline-block;
        font-size: 250px;
        font-weight: 600;
        color: #77C9EF;
        margin-right: .25em;

        @media (min-width:1010px)
        {
            margin-right: 0.1em;
        }
    }

    &__text
    {
        display: inline-block;
        width: 60%;
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
        margin-left: .25em;

        @media (min-width: 1010px)
        {
            width: 100%;
        }
    }
}