.stepcards
{
    width: 100%;
    margin: 60px 0 0;

    @media (min-width: 1010px)
    {
        margin: 140px 0 0;
    }

    &__tittle
    {
        width: 100%;
        @include tittle;
        color: $color-tittle-blue;
        padding: 0 3em 0 0;

        @media (min-width: 1010px)
        {
            padding: 0;
            margin-bottom: 120px;
        }
    }

    &__adjustment
    {
        display: flex;
        flex-direction: column;

        @media (min-width: 1010px)
        {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__card
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;

        &:nth-child(2),
        &:nth-child(3)
        {
            margin-top: 140px;

            @media (min-width: 1010px) 
            {
                margin-top: 0;
            }
        }

        @media (min-width: 1010px)
        {
            width: 30%;
            padding: 0;
            align-items: flex-start;
        }
    }

    &__adjustmentA
    {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -75px;

        &::after
        {
            content: "";
            display: inline-block;
            width: 50px;
            height: 50px;
            border-bottom: 7.5px solid $color-medium-orange;
            border-right: 7.5px solid $color-medium-orange;
            transform: rotate(45deg);

            @media (min-width: 1010px)
            {
                display: none;
            }
        }

        @media (min-width: 1010px)
        {
            position: relative;
        }
    }

    &__arrow
    {
        &::after
        {
            content: "";
            display: none;

            @media (min-width: 1010px)
            {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-bottom: 5px solid $color-medium-orange;
                border-right: 5px solid $color-medium-orange;
                transform: rotate(-45deg);
            }
        }
    }

    &__adjustmentN
    {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 1010px)
        {
            align-items: flex-start;
        }
    }

    &__textN
    {
        font-size: 225px;
        font-weight: 500;
        color: #77C9EF;

        @media (min-width:1010px)
        {
            font-size: 300px;
            font-weight: 500;
        }
    }

    &__text
    {
        @include text-bold;
        float: left;
        margin-left: 1em;

        @media (min-width: 1010px)
        {
            margin-left: .5em;
        }
    }
}