.header
{
    &__itemN
    {
        display: inline-block;
        padding: 50px 14px 48px 12px;
        font-size: 1.2vw;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0;

        &:hover
        {
            background-color: $color_dark_orange;
            color: $color_white;
        }
    }
}