.header
{
    &__listS
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 216px;
        height: 123px;
    }

    &__tittleS
    {
        font-size: 16px;
        font-weight: 700;
        color: $color_follow_blue;
        letter-spacing: -0.5px;
    }

    &__itemS
    {
        display: flex;
        align-items: center;
        font-size: 12px;
        padding: 0.2em;

        &:last-child
        {
            padding-right: 0;
        }
    }

    &__imageS
    {
        opacity: 0.4;
    }
}