.button
{
    background-color: $color_dark_orange;
    border-radius: 32px;
    padding: 0.25em 0;

    &__buy
    {
        @extend .button;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 242px;
        font-size: 20px;
        letter-spacing: 0;
        color: $color_white;
        text-transform: uppercase;
    }

    &__iconS
    {
        width: 30px;
        height: 26px;
        margin-right: 20px;
    }
}