.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 533px;
    margin: auto;
    border-radius: 11px;

    &__orange
    {
        background-color: $color-light-orange;
    }

    &__blue
    {
        background-color: $color-card-blue;
    }
}