.label
{
    transform: skewX(-20deg);

    &__blueD
    {
        background-color: $color_label_blueD;
        color: $color_white;
        border-radius: 5px;
    }

    &__cardcta
    {
        display: flex;
        padding: 6.5px 10px;
        border-radius: 3px;
    }
}