.plus
{
    display: inline-block;
    width: 19px;
    height: 19px;

    @media (min-width: 1010px)
    {
        width: 38px;
        height: 38px;
    }

    &__big
    {
        display: inline-block;
        width: 44px;
        height: 47px;

        @media (min-width: 1010px)
    {
        width: 115px;
        height: 112px;
    }
    }
}