.plus
{
    display: inline-block;
    width: 19px;
    height: 19px;

    @media (min-width: 1010px)
    {
        width: 3vw;
        height: 3vw;
        max-width: 38px;
        max-height: 38px;
    }

    &__big
    {
        display: inline-block;
        width: 44px;
        height: 47px;

        @media (min-width: 1010px)
    {
        width: 5vw;
        height: 5vw;
    }
    }
}