$color-white: #FFF;
$color-black: #000;
$color-dark-orange: #F47D31;
$color-arrow-orange: #EE8324;
$color-card-orange: #FDE0AD;
$color-footer-orange: #ed9c5a;
$color-follow-blue: #1C4A8C;
$color-tittle-blue: #233F73;
$color-banner-blueD: #0FA1CA;
$color-banner-blueL: #77C9EF;
$color-card-blue: #C1E6F8;
$color-border-blue: #4C9ED0D0;
$color_cardP_blue: #DCF1FB69;
$color-footer-blueL1: #3170ae;
$color-footer-blueD1: #13377f;
$color-footer-blueL2: #76c8ee;
$color-footer-blueD2: #0ca1c9;
$color-footer-blueF: #425e98;
$color-textC-blue: #042D61;
$color-border-blue: #4C9ED0D0;
$color-slider-blue: #E7F6FF;

$default-font-size: 20px;