$color_white: #FFF;
$color_black: #000;
$color_dark_orange: #F47D31;
$color_medium_orange: #EE8324;
$color_light_orange: #FDE0AD;
$color_follow_blue: #1C4A8C;
$color_banner_blue: #0FA1CA;

$default-font-size: 20px;