$color_white: #FFF;
$color_black: #000;
$color_dark_orange: #F47D31;
$color_medium_orange: #EE8324;
$color_light_orange: #FDE0AD;
$color_plus_orange: #fc9c34;
$color_footer_orange: #ed9c5a;
$color_follow_blue: #1C4A8C;
$color_banner_blue: #0FA1CA;
$color_label_blueD: #233F73;
$color_light_blue: #C1E6F8;
$color_footer_blue: #76c8ee;

$default-font-size: 20px;